/* line 1, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/base/_base.scss */
* {
  font-family: "Martel Sans", sans-serif;
}

/* line 5, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/base/_base.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 10, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/base/_base.scss */
h2, legend {
  font-size: 0.85em;
}

/* line 14, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/base/_base.scss */
button {
  background: none;
  border: none;
  padding: 3px 10px;
}

/* line 20, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/base/_base.scss */
button.active {
  background: #81C98F;
  border-radius: 20px;
  color: white;
}

/* line 1, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_header.scss */
header {
  display: flex;
  flex-direction: row;
  background: #7477BF;
  padding: 12px;
  color: #fff;
  align-items: center;
  height: 55px;
  box-sizing: border-box;
}

/* line 12, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_header.scss */
header h1 {
  font-size: 1.25rem;
}

/* line 16, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_header.scss */
header strong {
  font-weight: 500;
}

/* line 20, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_header.scss */
.notification {
  display: flex;
  align-items: center;
  margin-left: auto;
  height: 100%;
  border-right: 0.1em solid #8E92B7;
  padding: 5px 10px;
  box-sizing: border-box;
}

/* line 30, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_header.scss */
.notification img {
  width: auto;
  height: 100%;
  box-sizing: border-box;
  min-height: 0;
}

/* line 37, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_header.scss */
.profile {
  display: flex;
  align-items: center;
  height: 100%;
}

/* line 43, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_header.scss */
.profile p {
  font-size: 0.75rem;
  font-weight: 200;
}

/* line 48, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_header.scss */
.profile img {
  border-radius: 50%;
  width: auto;
  height: 100%;
  margin: 0 10px;
}

/* line 55, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_header.scss */
header h1 {
  font-weight: 200;
}

/* line 1, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_leftNav.scss */
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #4D4C72;
  padding: 10px 40px;
  height: 50px;
  box-sizing: border-box;
}

/* line 12, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_leftNav.scss */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: 100%;
}

/* line 22, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_leftNav.scss */
nav li {
  display: inline-block;
}

/* line 26, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_leftNav.scss */
nav li img {
  width: auto;
  height: 100%;
}

/* line 1, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_main.scss */
.wrapper, main {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
}

/* line 6, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_main.scss */
main section ~ section {
  padding: 0 15px;
}

/* line 10, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_main.scss */
main section:nth-child(n+4) {
  border-top: 0.1em solid #D5D5D5;
}

/* line 1, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_tabs.scss */
.tabs {
  background: #F7F7F7;
  display: flex;
  border-bottom: 0.1em solid #ccc;
  position: relative;
  z-index: -1;
  width: 100%;
  top: -0.1em;
}

/* line 11, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_tabs.scss */
.tabs .item {
  background: white;
  border-right: 0.1em solid #D5D5D5;
  padding: 0 15px;
  position: relative;
  z-index: 1;
  top: 0.1em;
}

/* line 20, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_tabs.scss */
.tabs .item h2 {
  font-size: 1em;
}

/* line 1, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_reports.scss */
.reports h2 {
  margin-bottom: 0;
}

/* line 5, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_reports.scss */
canvas {
  margin: 20px 0;
}

/* line 1, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_social.scss */
.social {
  display: grid;
  grid-template-columns: 1fr;
}

/* line 6, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_social.scss */
.social .card {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  border: 0.1em solid #D5D5D5;
  background: #F7F7F7;
  border-radius: 5px;
  padding: 15px 20px;
  column-gap: 15px;
  margin-bottom: 20px;
}

/* line 17, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_social.scss */
.social .icon {
  background: #7477BF;
  border-radius: 50%;
  display: flex;
  align-self: center;
  height: 60px;
  width: 60px;
}

/* line 26, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_social.scss */
.social .icon img {
  padding: 15px;
}

/* line 30, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_social.scss */
.social .info {
  display: flex;
  flex-direction: column;
}

/* line 34, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_social.scss */
.social .info h3 {
  color: #6366B7;
  font-weight: 600;
  margin: 0;
  font-size: 1em;
}

/* line 41, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_social.scss */
.social .info p {
  margin: 0;
  color: #777777;
  font-size: 2.5em;
  line-height: 1;
  font-weight: 200;
}

/* line 1, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_members.scss */
.members .card:nth-child(n+3) {
  border-top: 0.1em solid #D5D5D5;
}

/* line 5, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_members.scss */
.members .card {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  text-align: center;
  padding: 15px 0;
}

/* line 13, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_members.scss */
.members .card:nth-of-type(1) {
  padding-top: 0;
}

/* line 17, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_members.scss */
.members .card .icon {
  height: 55px;
}

/* line 21, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_members.scss */
.members .card .icon img {
  border-radius: 50%;
  height: 100%;
  width: auto;
}

/* line 27, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_members.scss */
.members .info {
  padding-top: 5px;
}

/* line 31, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_members.scss */
.members .info h3 {
  font-weight: 400;
}

/* line 35, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_members.scss */
.members .info a {
  text-decoration: none;
  display: block;
  color: #777AC1;
}

/* line 41, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_members.scss */
.members .info h3,
.members .info a,
.members .info p,
.members .date p {
  margin: 0;
  line-height: 1.15;
  font-size: 0.75em;
}

/* line 1, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_activity.scss */
.activity .card:nth-child(n+3) {
  border-top: 0.1em solid #D5D5D5;
}

/* line 5, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_activity.scss */
.activity .card {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px 10px;
}

/* line 14, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_activity.scss */
.activity .card:nth-of-type(1) {
  padding-top: 0;
}

/* line 18, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_activity.scss */
.activity .card .icon {
  height: 55px;
}

/* line 22, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_activity.scss */
.activity .card .icon img {
  border-radius: 50%;
  height: 100%;
  width: auto;
}

/* line 28, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_activity.scss */
.activity .info-section1 {
  padding-top: 5px;
}

/* line 32, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_activity.scss */
.activity .info-section1 a {
  text-decoration: none;
  display: block;
  color: #777AC1;
}

/* line 38, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_activity.scss */
.activity .info-section1 a,
.activity .info-section1 p,
.activity .info-section2 p {
  margin: 0;
  line-height: 1.15;
  font-size: 0.75em;
}

/* line 46, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_activity.scss */
.activity .info-section2 {
  display: none;
}

/* line 1, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_message.scss */
.message legend {
  padding: 0;
  margin-bottom: 0.83em;
  font-weight: 700;
}

/* line 7, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_message.scss */
.message label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 18, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_message.scss */
.message fieldset {
  border: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0.83em 0 0;
}

/* line 27, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_message.scss */
.message input {
  margin-bottom: 15px;
  padding: 10px 10px;
  background: #F7F7F7;
  border: 0.1em solid #D5D5D5;
  border-radius: 5px;
  flex: 0 100%;
}

/* line 36, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_message.scss */
.message textarea {
  background: #F7F7F7;
  border: 0.1em solid #D5D5D5;
  border-radius: 5px;
  flex: 0 100%;
  height: 100px;
  padding: 5px 10px;
}

/* line 45, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_message.scss */
input::placeholder,
textarea::placeholder {
  color: #BDBDBD;
}

/* line 50, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_message.scss */
button[type="submit"] {
  margin: 15px 0;
  width: 100%;
  padding: 8px 0;
  color: #FFFFFF;
  background: #7477BF;
  border-radius: 5px;
  border: 0.1em solid #D5D5D5;
  font-weight: 200;
  cursor: pointer;
}

/* line 1, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_settings.scss */
.settings {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

/* line 7, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_settings.scss */
.settings .toggles {
  display: grid;
  align-items: center;
  grid-template: repeat(2, fit-content(300px))/repeat(2, fit-content(300px));
  justify-content: space-between;
}

/* line 14, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_settings.scss */
.settings .toggles label {
  font-size: 0.85em;
}

/* line 18, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_settings.scss */
.settings .toggles input {
  cursor: pointer;
  margin: 1rem auto;
  position: relative;
  width: 85px;
  height: 30px;
  border-radius: 25px;
  outline: none;
  background-color: #ccc;
  -webkit-appearance: none;
  transition: background .3s;
  border: 0.15em solid #c0c0c0;
}

/* line 32, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_settings.scss */
.settings .toggles input::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  background-color: white;
  transition: left .3s;
  border: 0.15em solid #c0c0c0;
}

/* line 45, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_settings.scss */
.settings .toggles input:checked {
  background-color: #7477BF;
}

/* line 49, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_settings.scss */
.settings .toggles input:checked::after {
  left: 82%;
}

/* line 53, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_settings.scss */
.settings .toggles input::before {
  content: 'OFF';
  position: absolute;
  top: 0.2em;
  right: 10px;
  color: #fff;
  font-weight: 200;
}

/* line 62, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_settings.scss */
.settings .toggles input:checked::before {
  content: 'ON';
  position: absolute;
  top: 0.2em;
  left: 10px;
  color: #fff;
  font-weight: 200;
}

/* line 71, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_settings.scss */
.settings select {
  margin-top: 15px;
  background: #F7F7F7;
  padding: 10px 10px;
  border: 0.1em solid #D5D5D5;
  border-radius: 5px;
}

/* line 79, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_settings.scss */
.settings .actions {
  margin-top: 15px;
  column-gap: 10px;
  grid-template-columns: 1fr 1fr;
  display: grid;
}

/* line 86, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_settings.scss */
.settings .actions button.save {
  width: 100%;
  padding: 8px 0;
  color: #FFFFFF;
  background: #7477BF;
  border-radius: 5px;
  border: 0.1em solid #D5D5D5;
  font-weight: 200;
  cursor: pointer;
}

/* line 97, ../../../OneDrive/Documents/FEWD/P7/FEWD_P7/scss/components/_settings.scss */
.settings .actions button.cancel {
  width: 100%;
  padding: 8px 0;
  color: #FFFFFF;
  background: #999;
  border-radius: 5px;
  border: 0.1em solid #D5D5D5;
  font-weight: 200;
  cursor: pointer;
}

/*# sourceMappingURL=styles.css.map */