.activity .card:nth-child(n+3) {
    border-top: 0.1em solid #D5D5D5;
}

.activity .card {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px 0px;
}

.activity .card:nth-of-type(1) {
    padding-top: 0;
}

.activity .card .icon {
    height: 55px;
}

.activity .card .icon img {
    border-radius: 50%;
    height: 100%;
    width: auto;
}

.activity .info-section1 {
    padding-top: 5px;
}

.activity .info-section1 a {
    text-decoration: none;
    display: block;
    color: #777AC1;
}

.activity .info-section1 a,
.activity .info-section1 p,
.activity .info-section2 p {
    margin: 0;
    line-height: 1.15;
    font-size: 0.75rem;
}

.activity .info-section2 {
    display: none;
}

@media only screen and (min-width: 768px) {
    .activity {
        grid-area: activityComponent;
    }

    .activity .card {
        grid-template-columns: min-content max-content 1fr !important;
        align-items: center;
        column-gap: 10px;
    }

    .activity .card .info-section1 {
        text-align: left;
    }

    .activity .card .info-section2 {
        text-align: right;
        display: block;
    }
}

@media only screen and (min-width: 1024px) {
    .activity {
        border-left: 0.1rem solid #D5D5D5;
    }
}