header {
    display: flex;
    flex-direction: row;
    background: #7477BF;
    padding: 0 20px;
    color: #fff;
}

header strong {
    font-weight: 500;
}

header div {
    display: flex;
    align-items: center;
    margin-left: auto;
}

header h1 {
    font-weight: 200;
}