header {
    display: flex;
    flex-direction: row;
    background: #7477BF;
    padding: 12px;
    color: #fff;
    align-items: center;
    height: 55px;
    box-sizing: border-box;
}

header h1 {
    font-size: 1.25rem;
}

header strong {
    font-weight: 500;
}

.notification {
    display: flex;
    align-items: center;
    margin-left: auto;
    height: 100%;
    border-right: 0.1rem solid #8E92B7;
    padding: 5px 10px;
    box-sizing: border-box;
    position: relative;
}

.notification img {
    width: auto;
    height: 100%;
    box-sizing: border-box;
    min-height: 0;  
    transition: all .5s;
}

.notification img:hover {
    cursor: pointer;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
20% { transform: rotate(-90deg); }
100% { transform: rotate(90deg); }
}

.notification .new {
    content: '';
    border-radius: 100%;
    background: #90EE90;
    position: absolute;
    top: 1px;
    right: 9px;
    height: 4px;
    width: 4px;
}

.profile {
    display: flex;
    align-items: center;
    height: 100%;
}

.profile p {
    font-size: 0.75rem;
    font-weight: 200;
}

.profile img {
    border-radius: 50%;
    width: auto;
    height: 100%;
    margin: 0 10px;
}

header h1 {
    font-weight: 200;
}

@media only screen and (min-width: 768px) {
    header {
        grid-area: headerComponent;
    }
}