nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #4D4C72;
    padding: 10px 40px;
    height: 50px;
    box-sizing: border-box;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}

nav li {
    display: inline-block;
}

nav li img {
    width: auto;
    height: 100%;
}