nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #4D4C72;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

nav li {
    display: inline-block;
}