.wrapper,
main {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
}

main section:nth-child(n+2) {
    padding-left: 15px;
    padding-right: 15px;
}

main section:nth-child(n+4) {
    border-top: 0.1rem solid #D5D5D5;
}

@media only screen and (min-width: 768px) {
    .wrapper {
        grid-template-columns: 70px 1fr;
        grid-template-areas:
            "headerComponent headerComponent"
            "navComponent mainComponent"
        ;
    }

    main {
        grid-area: mainComponent;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "tabs tabs"
            "alertComponent alertComponent"
            "mainReportComponent mainReportComponen"
            "dailyReportComponent mobileReportComponent"
            "socialComponent socialComponent"
            "membersComponent membersComponent"
            "activityComponent activityComponent"
            "messageComponent messageComponent"
            "settingsComponent settingsComponent"
        ;
    }
}

@media only screen and (min-width: 1024px) {
    main {
        grid-template-areas:
            "tabs tabs"
            "alertComponent alertComponent"
            "mainReportComponent mainReportComponent"
            "dailyReportComponent mobileReportComponent"
            "socialComponent socialComponent"
            "membersComponent activityComponent"
            "messageComponent settingsComponent"
        ;
    }
}