.wrapper, main {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
}

main section ~ section {
    padding: 0 15px;
}

main section:nth-child(n+4) {  
    border-top: 0.1em solid #D5D5D5;
}