.settings {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    justify-content: space-between;
    align-items: stretch;
}

.settings .toggles {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, fit-content(300px));
    justify-content: space-between;
}

.settings .toggles label {
    font-size: 0.85rem;
}

.settings .toggles input {
    cursor: pointer;
    margin: 13px auto;
    position: relative;
    width: 85px;
    height: 30px;
    border-radius: 25px;
    outline: none;
    background-color: #ccc;
    -webkit-appearance: none;
    transition: background .3s;
    border: 0.15em solid #c0c0c0;
}

.settings .toggles input::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    background-color: white;
    transition: left .3s;
    border: 0.15rem solid #c0c0c0;
}

.settings .toggles input:checked {
    background-color: #7477BF;
}

.settings .toggles input:checked::after {
    left: 82%;
}

.settings .toggles input::before {
    content: 'OFF';
    position: absolute;
    top: 0.2rem;
    right: 10px;
    color: #fff;
    font-weight: 200;
}

.settings .toggles input:checked::before {
    content: 'ON';
    position: absolute;
    top: 0.2rem;
    left: 10px;
    color: #fff;
    font-weight: 200;
}

.settings select {
    margin-top: 15px;
    background: #F7F7F7;
    padding: 10px 10px;
    border: 0.1rem solid #D5D5D5;
    border-radius: 5px;
}

.settings .actions {
    margin-top: 15px;
    column-gap: 10px;
    grid-template-columns: 1fr 1fr;
    display: grid;
}

.settings .actions button.save {
    width: 100%;
    padding: 8px 0;
    color: #FFFFFF;
    background: #7477BF;
    border-radius: 5px;
    border: 0.1rem solid #D5D5D5;
    font-weight: 200;
    cursor: pointer;
}

.settings .actions button.cancel {
    width: 100%;
    padding: 8px 0;
    color: #FFFFFF;
    background: #999;
    border-radius: 5px;
    border: 0.1rem solid #D5D5D5;
    font-weight: 200;
    cursor: pointer;
}


@media only screen and (min-width: 768px) {
    .settings {
        grid-area: settingsComponent;
    }

    .settings .toggles {
        justify-content: flex-start;
        column-gap: 40px;
    }
}

@media only screen and (min-width: 1024px) {
    .settings {
        border-left: 0.1rem solid #D5D5D5;
    }

    .settings select {
        height: 45px;
        box-sizing: border-box;
    }
}