* {
    font-family: "Martel Sans", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

h2, legend { 
    font-size: 0.85em;
}

button {
    background: none;
    border: none;
    padding: 3px 10px;
}

button.active {
    background: #81C98F;
    border-radius: 20px;
    color: white;
}